.App {
  font-family: sans-serif;
  text-align: center;
}

.search-input {
  width: 400px;
  padding: 5px;
  border: 1px solid black;
}

.results-container {
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  max-height: 400px;
  overflow-y: scroll;
}

.result {
  display: block;
  padding: 3px;
}

.result:hover {
  background-color: bisque;
  cursor: pointer;
}
